@{
    ViewData["Title"] ="首页";
}

<div style="text-align:center;margin-top:50px;">    
    <img src="~/images/logo.png" style="height:100px;" />
    <p><a href="/api" target="_blank">API 接口</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://gitee.com/dymproject/purest-admin" target="_blank">源码地址</a></p>
</div>